#formbackground {
    position: relative;
    width: 1122px;
    height: 100%;
    background: rgb(235, 236, 240);
}

.form {
    /* width: 1122px; */
    /* height: 1950px; */
    /* background: rgb(235, 236, 240); */
    border-radius: 8px;
    /* box-shadow: 0 0 40px -10px #000; */
    /* margin-top: 5px; */
    padding: 20px 30px;
    /* max-width: calc(100vw - 40px); */
    box-sizing: border-box;
    position: relative
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(73,95,233,0.4);
}

input:focus {
    border-bottom: 2px solid rgb(73,95,233);
}

/* .purple {
    content: attr(type);
    display: block;
    margin: 30px 0 0;
    font-size: 14px;
    color: #5a5a5a
} */

.purple:before {
    content: attr(type);
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #5a5a5a
}

.send {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s
}

button:hover {
    background: #78788c;
    color: #fff
}

span {
    margin: 0 5px 0 15px
}

/* select form start */
/* .attachbutton {
padding: 15px;
color: white;
border-radius: 5px;
text-align: center;
background-color: rgb(73,95,233);
} */

.select-wrapper {
position: relative;
width: 350px;
}

.select-wrapper::after {
color: black;
content: "▾";
margin-right: 10px;
pointer-events: none;
position: absolute;
right: 10px;
top: 7px;
font-size: 20px;
}

.select {
margin-top: 15px;
-moz-appearance: none;
-webkit-appearance: none;
background: white;
border: none;
border-radius: 0;
cursor: pointer;
padding: 12px;
width: 100%;
font-size: 18px;
}

/* .select:focus {
    outline: rgb(73,95,233);
} */

input:focus, select:focus, option:focus, textarea:focus, button:focus{
	outline: none;
}

.select::-ms-expand {
display: none;
}
/* select form end */

/* file form start */
.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input::file-selector-button {
    padding: 7px;
    color: white;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(73,95,233);
    border: 0px;
    margin-right: 10px;
    /* display: none; */
}

#profileFile {
    padding-top: 0px;
}


#chooseFile {
    /* visibility: hidden; */
    padding-top: 0px;
}

/* .fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#fileName {
    margin-bottom: 0px;
    visibility : hidden;
    font-size: 0px;
}


/* .fileInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(73,95,233,0.4);
} */

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    /* z-index: -1; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    height: 500px;
}

.fileimg {
    position: absolute;
}

/* file form end */

/* 미리보기 */
:root {
    --main-bg-color: white;
}

#posterbg {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    background-color:  white;
    justify-content: center; }
  
  .grabox {
    position: relative; }
  
  #graposter {
    z-index: 1;
    position: absolute;
    height: 400px;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover; }
  
  .RightGradient {
    position: absolute;
    z-index: 2;
    height: 400px;
    display: block;
    top: 0;
    bottom: 0;
    right: -2.5%;
    width: 200px; }
  
  .LeftGradient {
    position: absolute;
    z-index: 2;
    height: 400px;
    display: block;
    top: 0;
    bottom: 0;
    left: -2.5%;
    width: 200px; }

.profile {
    z-index: 3;
    width: 230px;
    height: 326px;
    position: absolute;
    top:-80px;
    left: 0px;
    border-radius: 2.5%; 
    overflow: hidden;
    margin: 7px;
    margin-left: 45px;
    padding: 0px; 
    /* border: 0.25px solid gray;  */
    background-color: white;}
    /* box-shadow: 2.5px 2.5px 5px 0;} */
  
.profile img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 0px; }

.contentssubmit {
    width: 420px;
    height: 55px;
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    color: white;
    background-color: rgb(73,95,233); 
    background-image: linear-gradient( to right,    
    rgb(148, 116, 231) 20%,
    rgba(43, 1, 103, 0) 100%); }

.contentssubmit:hover {
    transition: all, 0.5s;
    background-color: rgb(73,95,233); }
    
 /* 표 */
 table {
	--insideBorderColor: lightgray;
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	table-layout: fixed;
	border-radius: 8px;
}


table thead tr {
	color: whitesmoke;
	background-color: rgb(73,95,233);
	font-size: 1rem;
}

.people {
	border: 1px solid var(--insideBorderColor);
	background-color: white;
	border-radius : 5%;
}

table th {
	letter-spacing: 0.075rem;
}

table th,
table td {
	padding: 0.5rem 0.5rem;
	font-weight: normal;
	text-align: left;
}

table th:nth-child(4),
table td:nth-child(4) {
	text-align: right;
}

@media screen and (max-width: 768px) {
	table {
		border: none;
	}
	
	table thead {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	table tbody tr {
		margin-bottom: 2rem;
		display: block;
	}

	table td {
		font-size: 0.875rem;
		text-align: right;
		display: block;
	}

	table td:not(:last-child) {
		border-bottom: 1px solid var(--insideBorderColor);
	}
}

.del {
	border : none;
}  