<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finalproject.voda.cart.model.mapper.CartMapper">
	<sql id="getCartListSql">
		SELECT C.M_NO,
		       C.P_NO,
		       C.C_STATUS,
		       P.P_NAME,
		       P.P_PRICE,
		       P.P_QTT,
		       P.P_CATEGORY,
		       P.P_MADECOMPANY,
		       P.P_RENAMEFILE
		FROM CART C
		JOIN MEMBER M ON(M.M_NO = C.M_NO)
		JOIN PRODUCT P ON(C.P_NO = P.P_NO)
	</sql>

	<resultMap type="Cart" id="CartListResultMap">
		<id property="pno" column="P_NO"/>
		<id property="mno" column="M_NO"/>
		<result property="cstatus" column="C_STATUS"/>
		<result property="pname" column="P_NAME"/>
		<result property="pprice" column="P_PRICE"/>
		<result property="pqtt" column="P_QTT"/>
		<result property="prenamefile" column="P_RENAMEFILE"/>
		<result property="pcategory" column="P_CATEGORY"/>
		<result property="pmadecompany" column="P_MADECOMPANY"/>
	</resultMap>
	
	<select id="getCartList" resultMap="CartListResultMap">
		<include refid="getCartListSql" />
		WHERE C.C_STATUS = 'Y' AND C.M_NO = #{mno}
		ORDER BY C.P_NO DESC 
	</select>
	
	<select id="selectCart" resultMap="CartListResultMap">
		<include refid="getCartListSql" />
		WHERE C.C_STATUS = 'Y' AND C.M_NO = #{m_no} AND C.P_NO = #{p_no}
	</select>
	
	
	<insert id="insertCart" parameterType="Cart">
	INSERT INTO CART VALUES (#{mno}, #{pno}, 'Y')
	</insert>
	
	<delete id="cartDelete" parameterType="Cart">
	DELETE CART
	WHERE P_NO = #{pno} AND M_NO = #{mno}
	</delete>


</mapper>